$font-stack: Arial, sans-serif;
$font-size: 18px;
$font-size-small: 14px;
$text-color: white;

$primary-color: #333;
$secondary-color: #f0f0f0;

$sidebar-width: 17vw;

* {
  box-sizing: border-box;
  // padding: 0;
  // margin: 0;
  // border: 0;
}

body {
  padding: 0;
  margin: 0;
  border: 0;

  font-family: $font-stack;
  font-size: $font-size;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.banner {
  background-color: $primary-color;
  color: $text-color;
  padding-left: 2rem;
  padding-bottom: 1.5rem;
  padding-top: 3rem;

  h1 {
    padding: 0;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    margin: 0;
  }

  nav {
    margin: 0;
    margin-top: 1.3rem;
    padding: 0;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline;
        margin-right: 1rem;

        a {
          color: $text-color;
          text-decoration: none;
        
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.post-header {
  background-color: $secondary-color;
  padding: 1rem;
  padding-bottom: 0.2rem;
  margin: 0;
  line-height: normal;

  .post-title {
    padding: 0;
    padding: 0;
    margin: 0;
  }

  .post-date {
    font-size: $font-size-small;
  }

  .post-categories {
    font-size: $font-size-small
  }

}

article {
  text-align: justify;
  line-height: 2;
}

.container {
  display: flex;
  flex: 1;
}

aside {
  background-color: $secondary-color;
  padding: 1rem;
  margin: 0;
  width: $sidebar-width;

  ul {
    list-style-type: none;
    padding-top: 1rem;

    li {
      margin-bottom: 0.5rem;

      a {
        color: $primary-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// make sidebars invisible
aside {
  ul {
    li {
      a {
        color: $secondary-color
      }
    }
  }

  color: $secondary-color
}

main {
  flex: 1;
  padding-top: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 4rem;
}

footer {
  background-color: $primary-color;
  color: $text-color;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
  